@import 'tailwindcss';

:root {
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #1f2937;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

dialog {
  padding: 0;
  border: 0;
  background: transparent;
}

dialog[open] {
  position: fixed;
  inset: 0;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.35);
  backdrop-filter: blur(0.15rem);
}
